%h1 Listing movies

%table
  %tr
    %th Title
    %th Author
    %th
    %th
    %th

  - @movies.each do |movie|
    %tr
      %td= movie.title
      %td= movie.author
      %td= link_to 'Show', movie
      %td= link_to 'Edit', edit_movie_path(movie)
      %td= link_to 'Destroy', movie, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Movie', new_movie_path
